@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <section class="contact">
        <header>
            <h3>Phone</h3>
        </header>
        <p>
            <span class="label">Main:</span>
            <span>484.870.6682</span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Github</h3>
        </header>
        <p>
            <span><a href="https://github.com/Maxcoh">Brendan Barnes' Public Account</a></span>
        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Email</h3>
        </header>
        <p>
            <span class="label">Me:</span>
            <span><a href="mailto:bbarnes@ipipeline.com">bbarnes@ipipeline.com</a></span>

        </p>
    </section>

    <section class="contact">
        <header>
            <h3>Address</h3>
        </header>
        <p>
            206 N. 34th Street<br />
            Philadelphia, PA 19104
        </p>
    </section>

</article>

<aside>
    <section class="contact">
        <header>
            <h3>
                Educational Information
            </h3>
        </header>
        <p>
            Pre-Junior at Drexel University <br />
            <strong>Attempting degree</strong>: <br/>MS in Software Engineering<br/>
            Concentration in AI and User Interfaces<br />
            <strong>Grad Year:</strong> 2018
        </p>
    </section>
    <section class="contact">
        <header>
            <h3>
                Previous work
            </h3>
        </header>
        <p>
            <strong>Mobile Developer (Android/iOS Native)</strong> <br />
            Aweber Systems<br />
            Chalfont, PA<br />
            Helped to develop and maintain features on both Android and iOS apps for Aweber<br />
            utilizing Java, Objective-C and Swift in Android Studio and Xcode respectively<br />
            <br />
        </p>
        <p>
            <strong>APP Lab Member (iOS) </strong><br />
            Drexel University<br />
            Philadelphia, PA<br />
            Taught students and faculty how to develop iOS applications on their own with <br />
            1-on-1 tutoring sessions as well as coding seminars.<br />
            <br />
        </p>
    </section>
</aside>
